<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    @RenderBody()
</div>

@RenderSection("under", false)

<br/>
<my-first mail-to="zoroz"></my-first>
    <br/>
<environment names="Development">
    <strong>DEV</strong>
</environment>
<environment names="Production"></environment>
</body>
</html>
