@model WebApplication2.Models.Book
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>PartialBook</h2>

@Model.Id:@Model.Title
Released:@Model.Publisher